<%- include("partials/base.ejs")  -%> 

<%- include("partials/navigator.ejs")  -%> 

<div class="container">
    <header class="row mt-5 pt-4 mb-5 pb-4">
        <div class="col-lg-12 text-center">
            <img class="Img-Html5 animated bounceIn" src="/img/Html5_Logo.png" alt="Html5">
        </div>
    </header>
</div>

<!-- SECTION ONE -->
<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fab fa-html5 fa-10x"></i>
        </div>
        <div class="col-sm-6">
            <h3>Is a markup language used for structuring and presenting content on the World Wide Web..</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere repellat placeat accusantium 
                delectus velit similique vitae necessitatibus consectetur, inventore, est cupiditate, tempora 
                quia non ratione ut sequi maxime ipsum labore!</p>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs")  -%> 